[advice]
    statusHints = false
[alias]
    aa = add --all
    b = branch
    ci = commit
    co = checkout
    dc = diff --cached
    dl = diff --name-only
    grepp = grep --break --heading --line-number
    glog = log --graph --decorate --oneline --abbrev-commit
    fa = fetch --all
    st = status
    uncommit = reset --soft HEAD^
    unstage = reset HEAD
[color]
    ui = auto
    diff = auto
    grep = auto
[grep]
    extendedRegexp = true
[merge]
    summary = true
    tool = vimdiff
[credential]
    helper = osxkeychain
[core]
    excludesfile = ~/.gitignore
    autocrlf = input
[push]
    default = simple
[include]
    path = .gitconfig.local
