[user]
    email = tony@threadwaste.com
    name = Anthony M.
[color]
    ui = auto
[alias]
    aa = add --all
    b = branch
    ci = commit
    co = checkout
    dc = diff --cached
    dl = diff --name-only
    fa = fetch --all
    st = status
[merge]
    tool = vimdiff
[credential]
    helper = cache --timeout=3600
[core]
    excludesfile = ~/.gitignore
