Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

urxvt256c*saveLines: 100000

urxvt256c*font:      xft:SourceCodePro-10
urxvt256c*boldFont:  xft:SourceCodePro Black-10

urxvt256c*perl-ext-common:  default,matcher
urxvt256c*url-launcher:     /usr/bin/google-chrome
urxvt256c*matcher.button:   1

urxvt256c*transparent:  true
urxvt256c*shading:      10

urxvt256c*depth: 32

#define   blackgravel      #1c1b1a
#define   darkgravel       #242321
#define   deepgravel       #45413b
#define   mediumgravel     #666462
#define   gravel           #857f78
#define   plain            #f8f6f2
#define   lightgravel      #998f84
#define   snow             #ffffff
#define   taffy            #ff2c4b
#define   orange           #ffa724
#define   dalespale        #fade3e
#define   lime             #aeee00
#define   saltwatertaffy   #8cffba
#define   tardis           #0a9dff
#define   dress            #ff9eb8
#define   darkroast        #88633f
 
*.foreground:   plain
*.background:   blackgravel
*.cursorColor:  tardis
*.color0:       blackgravel
*.color1:       taffy
*.color2:       lime
*.color3:       dalespale
*.color4:       tardis
*.color5:       dress
*.color6:       saltwatertaffy
*.color7:       plain
*.color8:       mediumgravel
*.color9:       orange
*.color10:      darkgravel
*.color11:      deepgravel
*.color12:      gravel
*.color13:      lightgravel
*.color14:      darkroast
*.color15:      snow
